@import url("https://fonts.googleapis.com/css?family=Neucha|Cabin+Sketch");

@tailwind base;

@tailwind components;
body {
    background-color: #f8f8f8;
}

.border-sketchy-nav {
    border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
}

.border-sketchy-lg {
    border-radius: 555px 25px 15px 25px/25px 5px 35px 555px;
    transition: all 0.3s ease-in-out;
}

.border-sketchy-sm {
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}

.border-sketchy-lg:hover {
    border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
}

.ql-syntax {
    @apply bg-gray-100 text-base leading-relaxed my-8 p-4 border-2 border-gray-300 border-sketchy-nav;
}

@import "highlightjs.css";

.sketchy-box {
    position: relative;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
}


.sketchy-box:hover::before {
    border: 2px solid #742a2a;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(-0.5deg);
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(-0.5deg);
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
}

.sketchy-box::before {
    transition: all 0.3s ease-in-out;
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}


@tailwind utilities;

.bord {
    border: solid 1px #c05621;
}